version: "3"
services:
  filebrowser:
    image: hurlenko/filebrowser
    user: 1000:1000
    ports:
      - 10180:8080
    volumes:
      - ./data:/data
      - ./config:/config
      - /home/m0dis/Desktop:/data/desktop
    environment:
      - FB_BASEURL=/filebrowser
    restart: always
networks: {}
