version: '3.3'
services:
    speedtest:
       environment:
           - ENABLE_LETSENCRYPT=FALSE
           - USER_EMAIL=modestaskazlauskas1@ygmail.com
           - VERIFY_OWNERSHIP="TXT-FILE-CONTENT"
       restart: unless-stopped
       container_name: openspeedtest
       ports:
        - '80:3000'
        - '443:3001'
       image: openspeedtest/latest