{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 54.9578687,
    "longitude": 23.9140493,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Vilnius",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "LT",
    "language": "en",
    "radius": 100
  }
}